.header {
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0);
}
